apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: webhook-sidecard
webhooks:
  - name: macvtap.security.kubevirt.io
    admissionReviewVersions: ["v1"]
    sideEffects: None
    failurePolicy: Fail
    clientConfig:
      service:
        namespace: kubevirt-webhooks
        name: webhook-sidecard
        path: /mutate
      # Replace with the base64 encoded CA bundle that signs the serving cert.
      caBundle: ""
    rules:
      - apiGroups: [""]
        apiVersions: ["v1"]
        operations: ["CREATE", "UPDATE"]
        resources: ["pods"]
    namespaceSelector:
      matchExpressions:
        - key: kubevirt.io/use-macvtap
          operator: In
          values: ["true"]
